<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.DailyRecordMapper">
    <resultMap id="dailyRecord" type="com.zftx.mcdaily.bean.DailyRecord">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="type" property="type"/>
        <result column="surface" property="surface"/>
        <result column="line" property="line"/>
        <result column="point" property="point"/>
        <result column="event" property="event"/>
        <result column="process" property="process"/>
        <result column="result" property="result"/>
        <result column="method" property="method"/>
        <result column="date" property="date"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="getDailyRecord" resultMap="dailyRecord">

          select * from daily_record
          <if test="dailyRecord != null">
              <where>
                  <if test="dailyRecord.id != null">
                      id=#{dailyRecord.id}
                  </if>
                  <if test="dailyRecord.userId != null">
                      and user_id=#{dailyRecord.userId}
                  </if>
                  <if test="dailyRecord.type != null">
                      and 'type'=#{dailyRecord.type}
                  </if>
                  <if test="dailyRecord.line != null">
                      and line=#{dailyRecord.line}
                  </if>
                  <if test="dailyRecord.point != null">
                      and point=#{dailyRecord.point}
                  </if>
                  <if test="dailyRecord.date != null">
                      and daily_record.date=#{dailyRecord.date}
                  </if>
                  <if test="dailyRecord.time != null">
                      and daily_record.time=#{dailyRecord.time}
                  </if>
              </where>

          </if>

    </select>

    <insert id="addDailyRecord" keyProperty="dailyRecord.id" useGeneratedKeys="true" parameterType="com.zftx.mcdaily.bean.DailyRecord">
        INSERT INTO daily_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dailyRecord !=null">
                user_id,
                daily_record.type,
                surface,
                line,
                point,
                daily_record.event,
                process,
                result,
                method,
                remark,
                daily_record.date,
                daily_record.time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")"  suffixOverrides=",">
            <if test="dailyRecord !=null">
                <if test="dailyRecord.userId!=null">
                    #{dailyRecord.userId},
                </if>
                <if test="dailyRecord.type!=null">
                    #{dailyRecord.type},
                </if>
                <if test="dailyRecord.surface!=null">
                    #{dailyRecord.surface},
                </if>
                <if test="dailyRecord.line!=null ">
                    #{dailyRecord.line},
                </if>
                <if test="dailyRecord.point!=null ">
                    #{dailyRecord.point},
                </if>
                <if test="dailyRecord.event!=null ">
                    #{dailyRecord.event},
                </if>
                <if test="dailyRecord.process!=null ">
                    #{dailyRecord.process},
                </if>
                <if test="dailyRecord.result!=null ">
                    #{dailyRecord.result},
                </if>
                <if test="dailyRecord.method!=null ">
                    #{dailyRecord.method},
                </if>
                <if test="dailyRecord.remark!=null ">
                    #{dailyRecord.remark},
                </if>
                <if test="dailyRecord.date!=null ">
                    #{dailyRecord.date},
                </if>
                <if test="dailyRecord.time!=null ">
                    #{dailyRecord.time}
                </if>

            </if>
        </trim>
    </insert>



</mapper>