<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.EventDetailMapper">
    <resultMap id="eventDetail" type="com.zftx.mcdaily.bean.EventDetail">
        <id column="id" property="id"/>
        <result column="event_id" property="eventId"/>
        <result column="process" property="process"/>
        <result column="result" property="result"/>
        <result column="method" property="method"/>
        <result column="remarks" property="remarks"/>
    </resultMap>
    <sql id="columnAll">id,event_id,process,result,method,remarks</sql>

    <select id="findAll" resultMap="eventDetail">
        SELECT
        <include refid="columnAll"/>
        FROM event_detail
        <if test="eventDetail!=null">
            <where>
                <if test="eventDetail.id!=null">
                    id=#{eventDetail.id}
                </if>
                <if test="eventDetail.eventId!=null">
                   and event_id=#{eventDetail.eventId}
                </if>
                <if test="eventDetail.process!=null and eventDetail.process!=''">
                    and process=#{eventDetail.process}
                </if>
                <if test="eventDetail.result!=null and eventDetail.result!=''">
                    and  result=#{eventDetail.result}
                </if>
                <if test="eventDetail.method!=null and eventDetail.method!=''">
                    and method=#{eventDetail.method}
                </if>
                <if test="eventDetail.remarks!=null and eventDetail.remarks!=''">
                    and  remarks=#{eventDetail.remarks}
                </if>
            </where>
        </if>
    </select>

    <insert id="addEventDetail" parameterType="com.zftx.mcdaily.bean.EventDetail" useGeneratedKeys="true" keyProperty="eventDetail.id">
        INSERT ignore INTO event_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventDetail!=null">
                <if test="eventDetail.eventId!=null">
                    event_id,
                </if>
                <if test="eventDetail.process!=null and eventDetail.process!=''">
                    process,
                </if>
                <if test="eventDetail.result!=null and eventDetail.result!=''">
                    result,
                </if>
                <if test="eventDetail.method!=null and eventDetail.method!=''">
                    method,
                </if>
                <if test="eventDetail.remarks!=null and eventDetail.remarks!=''">
                    remarks,
                </if>
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")"  suffixOverrides=",">
            <if test="eventDetail!=null">
                <if test="eventDetail.eventId!=null">
                    #{eventDetail.eventId},
                </if>
                <if test="eventDetail.process!=null and eventDetail.process!=''">
                    #{eventDetail.process},
                </if>
                <if test="eventDetail.result!=null and eventDetail.result!=''">
                    #{eventDetail.result},
                </if>
                <if test="eventDetail.method!=null and eventDetail.method!=''">
                    #{eventDetail.method},
                </if>
                <if test="eventDetail.remarks!=null and eventDetail.remarks!=''">
                    #{eventDetail.remarks},
                </if>
            </if>
        </trim>
    </insert>


    <update id="updateEventDetail" parameterType="com.zftx.mcdaily.bean.EventDetail">
        UPDATE event_detail
        <set>
            <if test="eventDetail.eventId!=null">
                 event_id=#{eventDetail.eventId},
            </if>
            <if test="eventDetail.process!=null and eventDetail.process!=''">
                 process=#{eventDetail.process},
            </if>
            <if test="eventDetail.result!=null and eventDetail.result!=''">
                  result=#{eventDetail.result},
            </if>
            <if test="eventDetail.method!=null and eventDetail.method!=''">
                 method=#{eventDetail.method},
            </if>
            <if test="eventDetail.remarks!=null and eventDetail.remarks!=''">
                  remarks=#{eventDetail.remarks},
            </if>
        </set>
        WHERE id=#{eventDetail.id}
    </update>

    <delete id="delEventDetail" parameterType="com.zftx.mcdaily.bean.EventDetail">
        delete from event_detail WHERE id=#{eventDetail.id}
    </delete>

</mapper>