<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.MonthlyProgrammeMapper">
    <resultMap id="monthlyProgramme" type="com.zftx.mcdaily.bean.MonthlyProgramme">
        <id column="id" property="id"/>
        <result column="programme_id" property="programmeId"/>
        <result column="programme_content" property="programmeContent"/>
    </resultMap>

    <sql id="monthlyProgrammeAll">id,programme_id,programme_content</sql>

    <select id="getmonthlyProgramme" resultMap="monthlyProgramme">
        SELECT <include refid="monthlyProgrammeAll" /> FROM monthly_programme
        <if test="monthlyProgramme!=null">
            <where>
                <if test="monthlyProgramme.id!=null">
                    id=#{monthlyProgramme.id}
                </if>
                <if test="monthlyProgramme.programmeId!=null">
                    and  programme_id=#{monthlyProgramme.programmeId}
                </if>
                <if test="monthlyProgramme.programmeContent!=null and monthlyProgramme.programmeContent!=''">
                    and programme_content=#{monthlyProgramme.programmeContent}
                </if>
            </where>
        </if>
    </select>

    <insert id="addmonthlyProgramme" useGeneratedKeys="true" keyProperty="monthlyProgramme.id" parameterType="com.zftx.mcdaily.bean.MonthlyProgramme">
        insert ignore into monthly_programme
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="monthlyProgramme!=null">
                <if test="monthlyProgramme.id!=null">
                    id,
                </if>
                <if test="monthlyProgramme.programmeId!=null">
                    programme_id,
                </if>
                <if test="monthlyProgramme.programmeContent!=null and monthlyProgramme.programmeContent!=''">
                    programme_content,
                </if>
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="monthlyProgramme!=null">
                <if test="monthlyProgramme.id!=null">
                    #{monthlyProgramme.id},
                </if>
                <if test="monthlyProgramme.programmeId!=null">
                    #{monthlyProgramme.programmeId},
                </if>
                <if test="monthlyProgramme.programmeContent!=null and monthlyProgramme.programmeContent!=''">
                    #{monthlyProgramme.programmeContent},
                </if>
            </if>
        </trim>
    </insert>

    <delete id="delmonthlyProgramme" parameterType="com.zftx.mcdaily.bean.MonthlyProgramme">
        delete from monthly_programme
        where  id=#{monthlyProgramme.id}
    </delete>

    <update id="updatemonthlyProgramme" parameterType="com.zftx.mcdaily.bean.MonthlyProgramme">
        update monthly_programme
        <set>
            <if test="monthlyProgramme.programmeId!=null">
                programme_id=#{monthlyProgramme.programmeId},
            </if>
            <if test="monthlyProgramme.programmeContent!=null and monthlyProgramme.programmeContent!=''">
                 programme_content=#{monthlyProgramme.programmeContent},
            </if>
        </set>
        <where>
            <if test="monthlyProgramme.id!=null">
                id=#{monthlyProgramme.id}
            </if>
        </where>
    </update>

    <!--根据programmeId删除 月 方案-->
    <delete id="deleteMonthlyProgrammeByPid" parameterType="java.lang.Integer">
       delete from monthly_programme  where programme_id=#{programmeId}
    </delete>
</mapper>