<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.MonthlySuggestMapper">
    <resultMap id="monthlySuggest" type="com.zftx.mcdaily.bean.MonthlySuggest">
        <id column="id" property="id"/>
        <result column="suggest_id" property="suggestId"/>
        <result column="suggest_content" property="suggestContent"/>
    </resultMap>

    <sql id="monthlySuggestAll">id,suggest_id,suggest_content</sql>

    <select id="getmonthlySuggest" resultMap="monthlySuggest">
        select <include refid="monthlySuggestAll" /> from monthly_suggest
        <where>
            <if test="monthlySuggest!=null">
                <if test="monthlySuggest.id!=null">
                    id=#{monthlySuggest.id}
                </if>
                <if test="monthlySuggest.suggestId!=null">
                    suggest_id=#{monthlySuggest.suggestId}
                </if>
                <if test="monthlySuggest.suggestContent!=null and monthlySuggest.suggestContent!=''">
                    suggest_content=#{monthlySuggest.suggestContent}
                </if>
            </if>
        </where>
    </select>

    <insert id="addmonthlySuggest" useGeneratedKeys="true" keyProperty="monthlySuggest.id" parameterType="com.zftx.mcdaily.bean.MonthlySuggest">
        insert into monthly_suggest
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="monthlySuggest!=null">
                <if test="monthlySuggest.id!=null">
                    id,
                </if>
                <if test="monthlySuggest.suggestId!=null">
                    suggest_id,
                </if>
                <if test="monthlySuggest.suggestContent!=null and monthlySuggest.suggestContent!=''">
                    suggest_content,
                </if>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="monthlySuggest!=null">
                <if test="monthlySuggest.id!=null">
                    #{monthlySuggest.id},
                </if>
                <if test="monthlySuggest.suggestId!=null">
                    #{monthlySuggest.suggestId},
                </if>
                <if test="monthlySuggest.suggestContent!=null and monthlySuggest.suggestContent!=''">
                    #{monthlySuggest.suggestContent},
                </if>
            </if>
        </trim>
    </insert>

    <delete id="delmonthlySuggest" parameterType="com.zftx.mcdaily.bean.MonthlySuggest">
      delete from monthly_suggest
      where  id=#{monthlySuggest.id}
    </delete>

    <update id="updatemonthlySuggest" parameterType="com.zftx.mcdaily.bean.MonthlySuggest">
        update monthly_suggest
        <set>
            <if test="monthlySuggest!=null">
                <if test="monthlySuggest.suggestId!=null">
                    suggest_id=#{monthlySuggest.suggestId},
                </if>
                <if test="monthlySuggest.suggestContent!=null and monthlySuggest.suggestContent!=''">
                    suggest_content=#{monthlySuggest.suggestContent},
                </if>
            </if>
        </set>
        <where>
            <if test="monthlySuggest.id!=null">
                id=#{monthlySuggest.id}
            </if>
        </where>
    </update>

    <!--根据deleteMonthlySuggestBySid删-->
    <delete id="deleteMonthlySuggestBySid" parameterType="java.lang.Integer">
      delete from monthly_suggest
      where  suggest_id=#{suggestId}
    </delete>
</mapper>