<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zftx.mcdaily.mapper.PointMapper">
    <resultMap id="point" type="com.zftx.mcdaily.bean.Point">
        <id column="id" property="id"/>
        <result column="type_id" property="typeId"/>
        <result column="surface_id" property="surfaceId"/>
        <result column="line_id" property="lineId"/>
        <result column="point_id" property="pointId"/>
        <result column="point_name" property="pointName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="islive" property="islive"/>
    </resultMap>
    <sql id="columnAll">id,type_id,surface_id,line_id,point_id,point_name,create_user,create_time,update_user,update_time</sql>
    <sql id="columnBase">id,type_id,surface_id,line_id,point_id,point_name</sql>

    <select id="findPointAll" resultMap="point">
        select
        <include refid="columnAll"/>
        from point
        <if test="point!=null">
            <where>
                <if test="point.id!=null">
                    id=#{point.id}
                </if>
                <if test="point.typeId!=null">
                    and type_id=#{point.typeId}
                </if>
                <if test="point.surfaceId!=null">
                    and  surface_id=#{point.surfaceId}
                </if>
                <if test="point.lineId!=null">
                    and  line_id=#{point.lineId}
                </if>
                <if test="point.pointId!=null">
                    and point_id=#{point.pointId}
                </if>
                <if test="point.pointName!=null and point.pointName!=''">
                    and   point_name=#{point.pointName}
                </if>
                <if test="point.createUser!=null">
                    and create_user=#{point.createUser}
                </if>
                <if test="point.createTime!=null">
                    and  create_time=#{point.createTime}
                </if>
                <if test="point.updateUser!=null">
                    and   update_user=#{point.updateUser}
                </if>
                <if test="point.updateTime!=null">
                    and  update_time=#{point.updateTime}
                </if>
                <if test="point.islive!=null">
                    and  islive=#{point.islive}
                </if>
            </where>
        </if>
    </select>

    <insert id="addPoint" parameterType="com.zftx.mcdaily.bean.Point" useGeneratedKeys="true" keyProperty="point.id">
        insert ignore into point
        <trim prefix=" (" suffix=")" suffixOverrides="," >
            <if test="point!=null">
                    <if test="point.typeId!=null">
                        type_id,
                    </if>
                    <if test="point.surfaceId!=null">
                        surface_id,
                    </if>
                    <if test="point.lineId!=null">
                        line_id,
                    </if>
                        point_id,
                    <if test="point.pointName!=null and point.pointName!=''">
                        point_name,
                    </if>
                    <if test="point.createUser!=null">
                        create_user,
                    </if>
                    <if test="point.createTime!=null">
                        create_time,
                    </if>
                    <if test="point.updateUser!=null">
                        update_user,
                    </if>
                    <if test="point.updateTime!=null">
                        update_time,
                    </if>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="point!=null">
                <if test="point.typeId!=null">
                    #{point.typeId},
                </if>
                <if test="point.surfaceId!=null">
                    #{point.surfaceId},
                </if>
                <if test="point.lineId!=null">
                    #{point.lineId},
                </if>
                (SELECT CASE  WHEN MAX(p.point_id) IS NULL THEN '1' ELSE MAX(p.point_id)+1 END FROM point p),
                <if test="point.pointName!=null and point.pointName!=''">
                    #{point.pointName},
                </if>
                <if test="point.createUser!=null">
                    #{point.createUser},
                </if>
                <if test="point.createTime!=null">
                    #{point.createTime},
                </if>
                <if test="point.updateUser!=null">
                    #{point.updateUser},
                </if>
                <if test="point.updateTime!=null">
                    #{point.updateTime},
                </if>
            </if>
        </trim>
    </insert>

    <update id="updatePoint" parameterType="com.zftx.mcdaily.bean.Point">
        UPDATE point
        <set>
            <if test="point.typeId!=null">
                 type_id=#{point.typeId},
            </if>
            <if test="point.surfaceId!=null">
                  surface_id=#{point.surfaceId},
            </if>
            <if test="point.lineId!=null">
                  line_id=#{point.lineId},
            </if>
            <if test="point.pointId!=null">
                 point_id=#{point.pointId},
            </if>
            <if test="point.pointName!=null and point.pointName!=''">
                   point_name=#{point.pointName},
            </if>
            <if test="point.createUser!=null">
                 create_user=#{point.createUser},
            </if>
            <if test="point.createTime!=null">
                  create_time=#{point.createTime},
            </if>
            <if test="point.updateUser!=null">
                   update_user=#{point.updateUser},
            </if>
            <if test="point.updateTime!=null">
                  update_time=#{point.updateTime},
            </if>
        </set>
        WHERE id=#{point.id}
    </update>

    <update id="delPoint" parameterType="com.zftx.mcdaily.bean.Point">
        UPDATE point
        <set>
            <if test="point.islive!=null">
                  islive=#{point.islive}
            </if>
        </set>
        WHERE id=#{point.id}
    </update>

    <delete id="delPointById">
        delete from point WHERE id=#{point.id}
    </delete>

</mapper>