<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.PositionMapper">
    <resultMap id="position" type="com.zftx.mcdaily.bean.Position">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="getPosition" resultMap="position">
        select id,value from position
        <if test="position != null">
            <where>
                <if test="position.id != null">
                    id = #{position.id}
                </if>
                <if test="position.value != null">
                   and  value like concat(#{position.value},'%')
                </if>
            </where>
        </if>
    </select>

    <!--添加职位-->
    <insert id="insertPosition" keyProperty="position.id" useGeneratedKeys="true" parameterType="com.zftx.mcdaily.bean.Position">
        insert ignore into position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="position != null">
                <if test="position.id !=null">
                    id,
                </if>
                <if test="position.value !=null">
                    value,
                </if>
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="position != null">
                <if test="position.id !=null">
                    #{position.id,jdbcType=INTEGER},
                </if>
                <if test="position.value !=null and position.value !=''">
                    #{position.value},
                </if>
            </if>
        </trim>
    </insert>

    <!--修改职位-->
    <update id="updatePosition" parameterType="com.zftx.mcdaily.bean.Position">
        UPDATE  position
        <set>
            <if test="position.id != null and position.id!=''">
                id=#{position.id},
            </if>
            <if test="position.value != null ">
                value=#{position.value},
            </if>
        </set>
        WHERE id=#{position.id}
    </update>

    <!--实际删除 职位-->
    <delete id="deletePosition" parameterType="com.zftx.mcdaily.bean.Position">
       delete from position  where id=#{position.id}
    </delete>
</mapper>