<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.WeeklyRemarkMapper">
    <resultMap id="weeklyRemark" type="com.zftx.mcdaily.bean.WeeklyRemark">
        <id column="id" property="id"/>
        <result column="remark_id" property="remarkId"/>
        <result column="remark_content" property="remarkContent"/>
    </resultMap>

    <!--查询  周 备注-->
    <select id="getWeeklyRemark" resultType="com.zftx.mcdaily.bean.WeeklyRemark">
        select * from weekly_remark
        <if test="weeklyRemark != null">
            <where>
                <if test="weeklyRemark.id != null">
                    id=#{weeklyRemark.id}
                </if>
                <if test="weeklyRemark.remarkId != null">
                    and remark_id=#{weeklyRemark.remarkId}
                </if>
                <if test="weeklyRemark.remarkContent != null">
                    and remark_content=#{weeklyRemark.remarkContent}
                </if>
            </where>
        </if>
    </select>

   <!-- 添加 周 备注-->
    <insert id="addWeeklyRemark" keyProperty="weeklyRemark.id" useGeneratedKeys="true" parameterType="com.zftx.mcdaily.bean.WeeklyRemark">
        INSERT ignore INTO weekly_remark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="weeklyRemark !=null">
                <if test="weeklyRemark.remarkId!=null">
                    remark_id,
                </if>
                <if test="weeklyRemark.remarkContent!=null">
                    remark_content,
                </if>
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")"  suffixOverrides=",">
            <if test="weeklyRemark !=null">
                <if test="weeklyRemark.remarkId!=null">
                    #{weeklyRemark.remarkId},
                </if>
                <if test="weeklyRemark.remarkContent!=null">
                    #{weeklyRemark.remarkContent},
                </if>
            </if>
        </trim>
    </insert>

    <!--修改 周 备注-->
    <update id="updateWeeklyRemark" parameterType="com.zftx.mcdaily.bean.WeeklyRemark">
        UPDATE weekly_remark
        <set>
            <if test="weeklyRemark.remarkId!=null">
                remark_id=#{weeklyRemark.remarkId},
            </if>
            <if test="weeklyRemark.remarkContent!=null ">
                remark_content=#{weeklyRemark.remarkContent},
            </if>
        </set>
        <where>
            <if test="weeklyRemark.id!=null and weeklyRemark.id!=0">
                id=#{weeklyRemark.id}
            </if>
            <if test="weeklyRemark.remarkId!=null">
                and remark_id=#{weeklyRemark.remarkId}
            </if>
        </where>
    </update>

   <!--实际删除 周 备注-->
    <delete id="deleteWeeklyRemark" parameterType="com.zftx.mcdaily.bean.WeeklyRemark">
       delete from weekly_remark where id=#{weeklyRemark.id}
    </delete>

    <!--根据remarkId删除 周结表-->
    <delete id="deleteRemarkBySRid" parameterType="java.lang.Integer">
       delete from weekly_remark  where remark_id=#{remarkId}
    </delete>
</mapper>