<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.WeeklyMapper">
    <resultMap id="weekly" type="com.zftx.mcdaily.bean.Weekly">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="week" property="week"/>
        <result column="summary_id" property="summaryId"/>
        <result column="difficulty_id" property="difficultyId"/>
        <result column="programme_id" property="programmeId"/>
        <result column="suggest_id" property="suggestId"/>
        <result column="remark_id" property="remarkId"/>
        <result column="sdate" property="sdate"/>
        <result column="edate" property="edate"/>
    </resultMap>

    <!--查询-->
    <select id="getWeekly" resultType="java.util.HashMap">
          select w.*,u.full_name as fullName from weekly w
          join user u on w.user_id= u.id
          <if test="weekly != null">
              <where>
                  <if test="weekly.id != null">
                      w.id=#{weekly.id}
                  </if>
                  <if test="weekly.userId != null">
                      and w.user_id=#{weekly.userId}
                  </if>
                  <if test="weekly.week != null">
                      and w.week=#{weekly.week}
                  </if>
                  <if test="weekly.summaryId != null">
                      and w.summaryId=#{weekly.summaryId}
                  </if>
                  <if test="weekly.difficultyId != null">
                      and w.difficulty_id=#{weekly.difficultyId}
                  </if>
                  <if test="weekly.programmeId != null">
                      and w.programme_id=#{weekly.programmeId}
                  </if>
                  <if test="weekly.suggestId != null">
                      and w.suggest_id=#{weekly.suggestId}
                  </if>
                  <if test="weekly.remarkId != null">
                      and w.remark_id=#{weekly.remarkId}
                  </if>
                  <if test="weekly.sdate!= '' and weekly.sdate != null and weekly.edate != '' and weekly.edate != null">
                      and w.sdate between #{weekly.sdate} and #{weekly.edate}
                  </if>
                  <if test="weekly.sdate!= '' and weekly.sdate != null and weekly.edate != '' and weekly.edate != null">
                      and w.edate between #{weekly.sdate} and #{weekly.edate}
                  </if>
              </where>
          </if>
    </select>

    <!--添加 周报-->
    <insert id="addWeekly" keyProperty="weekly.id" useGeneratedKeys="true" parameterType="com.zftx.mcdaily.bean.Weekly">
        INSERT INTO weekly
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="weekly !=null">
                <if test="weekly.userId!=null">
                    user_id,
                </if>
                <if test="weekly.week!=null">
                    week,
                </if>
                <if test="weekly.summaryId!=null">
                    summary_id,
                </if>
                <if test="weekly.summaryId==null">
                    summary_id,
                </if>
                <if test="weekly.difficultyId!=null">
                    difficulty_id,
                </if>
                <if test="weekly.difficultyId==null">
                    difficulty_id,
                </if>
                <if test="weekly.programmeId!=null">
                    programme_id,
                </if>
                <if test="weekly.programmeId==null">
                    programme_id,
                </if>
                <if test="weekly.suggestId!=null">
                    suggest_id,
                </if>
                <if test="weekly.suggestId==null">
                    suggest_id,
                </if>
                <if test="weekly.remarkId!=null">
                    remark_id,
                </if>
                <if test="weekly.remarkId==null">
                    remark_id,
                </if>
                <if test="weekly.sdate!=null">
                    sdate,
                </if>
                <if test="weekly.edate!=null">
                    edate,
                </if>
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")"  suffixOverrides=",">
            <if test="weekly !=null">
                <if test="weekly.userId!=null">
                    #{weekly.userId},
                </if>
                <if test="weekly.week!=null">
                    #{weekly.week},
                </if>
                <if test="weekly.summaryId!=null">
                    #{weekly.summaryId},
                </if>
                <if test="weekly.summaryId==null">
                  (SELECT CASE  WHEN MAX(w.summary_id) IS NULL THEN '1' ELSE MAX(w.summary_id)+1 END FROM weekly w),
                </if>
                <if test="weekly.difficultyId!=null">
                    #{weekly.difficultyId},
                </if>
                <if test="weekly.difficultyId==null">
                   (SELECT CASE  WHEN MAX(w.difficulty_id) IS NULL THEN '1' ELSE MAX(w.difficulty_id)+1 END FROM weekly w),
                </if>
                <if test="weekly.programmeId!=null">
                    #{weekly.programmeId},
                </if>
                <if test="weekly.programmeId==null">
                    (SELECT CASE  WHEN MAX(w.programme_id) IS NULL THEN '1' ELSE MAX(w.programme_id)+1 END FROM weekly w),
                </if>
                <if test="weekly.suggestId!=null">
                    #{weekly.suggestId},
                </if>
                <if test="weekly.suggestId==null">
                    (SELECT CASE  WHEN MAX(w.suggest_id) IS NULL THEN '1' ELSE MAX(w.suggest_id)+1 END FROM weekly w),
                </if>
                <if test="weekly.remarkId!=null">
                    #{weekly.remarkId},
                </if>
                <if test="weekly.remarkId==null">
                    (SELECT CASE  WHEN MAX(w.remark_id) IS NULL THEN '1' ELSE MAX(w.remark_id)+1 END FROM weekly w),
                </if>
                <if test="weekly.sdate!=null ">
                    #{weekly.sdate},
                </if>
                <if test="weekly.edate!=null ">
                    #{weekly.edate},
                </if>
            </if>
        </trim>
    </insert>
    <!--                /*(SELECT CASE WHEN MAX(s.summary_id) IS NULL THEN '1' ELSE MAX(s.summary_id)+1 END FROM summary s),*/-->
    <update id="updateWeekly" parameterType="com.zftx.mcdaily.bean.Weekly">
        UPDATE weekly
        <set>
            <if test="weekly.userId!=null">
                user_id=#{weekly.userId},
            </if>
            <if test="weekly.week!=null ">
                week=#{weekly.week},
            </if>
            <if test="weekly.summaryId!=null ">
                summary_id=#{weekly.summaryId},
            </if>
           <if test="weekly.difficultyId!=null">
               difficulty_id=#{weekly.difficultyId},
            </if>
           <if test="weekly.programmeId!=null">
               programme_id=#{weekly.programmeId},
            </if>
            <if test="weekly.suggestId!=null">
                suggest_id=#{weekly.suggestId},
            </if>
            <if test="weekly.remarkId!=null">
                remark_id=#{weekly.remarkId},
            </if>
            <if test="weekly.sdate!=null">
                sdate=#{weekly.sdate},
            </if>
            <if test="weekly.edate!=null">
                edate=#{weekly.edate},
            </if>
        </set>
        <where>
            <if test="weekly.id!=null and weekly.id!=0">
                 id=#{weekly.id}
            </if>
        </where>
    </update>


    <!--实际删除 综合表-->
    <delete id="deleteWeekly" parameterType="com.zftx.mcdaily.bean.Weekly">
       delete from weekly  where
       id=#{weekly.id}
    </delete>

    <!--根据条件查询-->
    <select id="getWeeklyByWhere" resultMap="weekly">
        select * from weekly
                <if test="weekly != null">
                    <where>
                        <if test="weekly.id != null">
                            id=#{weekly.id}
                        </if>
                        <if test="weekly.userId != null">
                            and user_id=#{weekly.userId}
                        </if>
                        <if test="weekly.week != null">
                            and week=#{weekly.week}
                        </if>
                        <if test="weekly.summaryId != null">
                            and summaryId=#{weekly.summaryId}
                        </if>
                        <if test="weekly.difficultyId != null">
                            and difficulty_id=#{weekly.difficultyId}
                        </if>
                        <if test="weekly.programmeId != null">
                            and programme_id=#{weekly.programmeId}
                        </if>
                        <if test="weekly.suggestId != null">
                            and suggest_id=#{weekly.suggestId}
                        </if>
                        <if test="weekly.remarkId != null">
                            and remark_id=#{weekly.remarkId}
                        </if>
                        <if test="weekly.sdate!= '' and weekly.sdate != null">
                            and sdate =#{weekly.sdate}
                        </if>
                        <if test="weekly.edate != '' and weekly.edate != null">
                            and edate =#{weekly.edate}
                        </if>
                    </where>
                </if>
    </select>

</mapper>