<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zftx.mcdaily.mapper.WeeklyProgrammeMapper">
    <resultMap id="weeklyProgramme" type="com.zftx.mcdaily.bean.WeeklyProgramme">
        <id column="id" property="id"/>
        <result column="programme_id" property="programmeId"/>
        <result column="programme_content" property="programmeContent"/>
    </resultMap>

    <!--查询  周 解决方案-->
    <select id="getWeeklyProgramme" resultType="com.zftx.mcdaily.bean.WeeklyProgramme">
        select * from weekly_programme
        <if test="weeklyProgramme != null">
            <where>
                <if test="weeklyProgramme.id != null">
                    id=#{weeklyProgramme.id}
                </if>
                <if test="weeklyProgramme.programmeId != null">
                    and programme_id=#{weeklyProgramme.programmeId}
                </if>
                <if test="weeklyProgramme.programmeContent != null">
                    and programme_content=#{weeklyProgramme.programmeContent}
                </if>
            </where>
        </if>
    </select>

   <!-- 添加 周报 解决方案-->
    <insert id="addWeeklyProgramme" keyProperty="weeklyProgramme.id" useGeneratedKeys="true" parameterType="com.zftx.mcdaily.bean.WeeklyProgramme">
        INSERT ignore INTO weekly_programme
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="weeklyProgramme !=null">
                <if test="weeklyProgramme.programmeId!=null">
                    programme_id,
                </if>
                <if test="weeklyProgramme.programmeContent!=null">
                    programme_content,
                </if>
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")"  suffixOverrides=",">
            <if test="weeklyProgramme !=null">
                <if test="weeklyProgramme.programmeId!=null">
                    #{weeklyProgramme.programmeId},
                </if>
                <if test="weeklyProgramme.programmeContent!=null">
                    #{weeklyProgramme.programmeContent},
                </if>
            </if>
        </trim>
    </insert>

   <!--修改 周 解决方案-->
    <update id="updateWeeklyProgramme" parameterType="com.zftx.mcdaily.bean.WeeklyProgramme">
        UPDATE weekly_programme
        <set>
            <if test="weeklyProgramme.programmeId!=null">
                programme_id=#{weeklyProgramme.programmeId},
            </if>
            <if test="weeklyProgramme.programmeContent!=null ">
                programme_content=#{weeklyProgramme.programmeContent},
            </if>
        </set>
        <where>
            <if test="weeklyProgramme.id!=null and weeklyProgramme.id!=0">
                id=#{weeklyProgramme.id}
            </if>
            <if test="weeklyProgramme.programmeId!=null">
                and programme_id=#{weeklyProgramme.programmeId}
            </if>
        </where>
    </update>


   <!--实际删除 周 解决方案-->
    <delete id="deleteWeeklyProgramme" parameterType="com.zftx.mcdaily.bean.WeeklyProgramme">
       delete from weekly_programme  where id=#{weeklyProgramme.id}
    </delete>

    <!--根据programmeId删除 周结表-->
    <delete id="deleteProgrammeByPid" parameterType="java.lang.Integer">
       delete from weekly_programme  where programme_id=#{programmeId}
    </delete>
</mapper>