.modal-body table{
border-collapse:separate; border-spacing:0px 10px;!important
}

.modal-body table tr td {
	min-width: 60px;!important
	
}

.modal-body table tr td select{
	float: left;
	width: 80%;!important
}

.modal-body table tr td textarea{
	float: left;
	width: 80%;!important
}

.modal-body table tr td input{
	float: left;
	width: 80%;!important
}

.modal-body table tr td div{
	float: left;
	margin: 0px 6px 6px 6px;
}
.t1{
	width: 300px;!important;
}
#home
{
	position: fixed;
	font-size:24px;
	right: 100px;
	top: 50px;
	text-decoration: none;
}
