<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgwy.alpha_web_manager.mapper.CbecOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qgwy.alpha_web_manager.bean.CbecOrder">
        <id column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="user_id" property="userId" />
        <result column="market_id" property="marketId" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="pay_usdt" property="payUsdt" />
        <result column="free_amount" property="freeAmount" />
        <result column="free_usdt" property="freeUsdt" />
        <result column="freight_amount" property="freightAmount" />
        <result column="pay_type" property="payType" />
        <result column="pay_state" property="payState" />
        <result column="status" property="status" />
        <result column="usdt_txhash" property="usdtTxhash" />
        <result column="delivery_type" property="deliveryType" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="estimated_time" property="estimatedTime" />
        <result column="auto_confirm_day" property="autoConfirmDay" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_post_code" property="receiverPostCode" />
        <result column="receiver_addr_code" property="receiverAddrCode" />
        <result column="receiver_detail_address" property="receiverDetailAddress" />
        <result column="note" property="note" />
        <result column="delete_status" property="deleteStatus" />
        <result column="use_integration" property="useIntegration" />
        <result column="create_date" property="createDate" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="comment_time" property="commentTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_read" property="isRead" />
        <result column="is_check" property="isCheck" />
    </resultMap>

    <resultMap id="OrderResultMap" type="com.qgwy.alpha_web_manager.dto.OrderDto">
        <id column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="create_date" property="createDate" />
        <result column="total_amount" property="totalAmount"></result>
        <result column="user_name" property="userName"></result>
        <result column="delivery_type" property="deliveryType"></result>
        <result column="receiver_name" property="receiverName"></result>
        <result column="receiverPhone" property="receiverPhone"></result>
        <result column="receiver_detail_address" property="receiverDetailAddress"></result>
        <result column="note" property="note"></result>

        <collection property="orderItemDtoList" ofType="com.qgwy.alpha_web_manager.dto.OrderItemDto">
            <id column="id" property="id"></id>
            <result column="product_no" property="productNo"></result>
            <result column="product_name" property="productName"></result>
            <result column="category_name" property="categoryName"></result>
            <result column="product_quantity" property="productQuantity"></result>
            <result column="product_price" property="productPrice"></result>
            <result column="img_path1" property="imgPath1"></result>
        </collection>
    </resultMap>

    <select id="queryList" parameterType="map" resultMap="OrderResultMap">
        SELECT
        o.order_id,
        o.order_sn,
        o.create_date,
        pi.product_no,
        pi.product_name,
        pi.img_path1,
        c.category_name,
        oi.id,
        oi.product_quantity,
        oi.product_price,
        o.total_amount,
        u.user_name,
        o.delivery_type
        FROM
        `cbec_order` o
        LEFT JOIN cbec_order_item oi ON oi.order_id = o.order_id
        LEFT JOIN cbec_product_category c ON c.category_id = oi.category_id
        LEFT JOIN cbec_user u ON u.user_id = o.user_id
        LEFT JOIN cbec_product_item pi ON pi.product_id = oi.product_id
        <where>
            o.order_id in
            <foreach collection="idList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by o.${sort} ${order}
            </when>
            <otherwise>
                order by o.is_read asc,o.create_date desc
            </otherwise>
        </choose>

    </select>
    
    <select id="queryIdList" parameterType="map" resultType="java.lang.Integer">
        select o.order_id from cbec_order o
        <where>
            <if test="marketId != null">
                and o.market_id = #{marketId}
            </if>
            <if test="type == 1">
                and o.is_check = 0 and DATE_FORMAT(o.create_date,'%Y-%m-%d') = #{today}
            </if>
            <if test="type == 2">
                and o.is_check = 0 and DATE_FORMAT(o.create_date,'%Y-%m-%d') != #{today}
            </if>
            <if test="type == 3">
                and o.is_check = 1
            </if>
            <if test="type == 4">
                and o.is_read = 0
            </if>
            <if test="orderSn != null and orderSn != ''">
                and o.order_sn like concat('%',#{orderSn},'%')
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by o.is_read asc,o.create_date desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="total" parameterType="map" resultType="java.lang.Integer">
        select count(1) from cbec_order o
        <where>
            <if test="marketId != null">
                and o.market_id = #{marketId}
            </if>
            <if test="type == 1">
                and o.is_read = 0 and DATE_FORMAT(o.create_date,'%Y-%m-%d') = #{today}
            </if>
            <if test="type == 2">
                and o.is_check = 0 and DATE_FORMAT(o.create_date,'%Y-%m-%d') != #{today}
            </if>
            <if test="type == 3">
                and o.is_check = 1
            </if>
            <if test="orderSn != null and orderSn != ''">
                and o.order_sn like concat('%',#{orderSn},'%')
            </if>
        </where>
    </select>

    <select id="getOrderById" parameterType="java.lang.Integer" resultMap="OrderResultMap">
        SELECT
        o.order_id,
        o.order_sn,
        o.create_date,
        pi.product_no,
        pi.product_name,
        pi.img_path1,
        c.category_name,
        oi.id,
        oi.product_quantity,
        oi.product_price,
        o.total_amount,
        u.user_name,
        o.delivery_type
        FROM
        `cbec_order` o
        LEFT JOIN cbec_order_item oi ON oi.order_id = o.order_id
        LEFT JOIN cbec_product_category c ON c.category_id = oi.category_id
        LEFT JOIN cbec_user u ON u.user_id = o.user_id
        LEFT JOIN cbec_product_item pi ON pi.product_id = oi.product_id
        <where>
            o.order_id = #{orderId}
        </where>
    </select>

</mapper>
