<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgwy.alpha_web_manager.mapper.CbecIntegralRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qgwy.alpha_web_manager.bean.CbecIntegralRecords">
        <id column="id" property="id" />
        <result column="sender_id" property="senderId" />
        <result column="receiver_id" property="receiverId" />
        <result column="phone_number" property="phoneNumber" />
        <result column="counts" property="counts" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
