<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgwy.template.mapper.CbecConsumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qgwy.template.bean.CbecConsume">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pay_type" property="payType" />
        <result column="type" property="type" />
        <result column="collect_type" property="collectType" />
        <result column="score" property="score" />
        <result column="usdt" property="usdt" />
        <result column="txhash" property="txhash" />
        <result column="from_addr" property="fromAddr" />
        <result column="to_addr" property="toAddr" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
